<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</head>

<body>
  <img [src]="imgSrc" style="width: 200px;">
  <span>Caption by โต๊ส</span>
  <div class="box">
    <div *ngIf="title" class="Title">{{count}} : {{title}}</div>

    <button [disabled]="!title" class="btn btn-success" (click)="handleClickButton()">Next Caption</button>
    <button [disabled]="!title" class="btn btn-success" (click)="handleClickButtonDEL()">Next Caption And
      Delete</button>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <ul style="font-size: 14px;">
      <li *ngFor="let captionItem of captionList">{{captionItem.message}}</li>
    </ul>
    <ul style="font-size: 14px;">
      <li *ngFor="let captionItem of usedCaptionList">{{captionItem.message}}</li>
    </ul>
  </div>
</body>