* {
    font-family: 'Sriracha', cursive;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 56, 255, 1) 100%);
}

img {
    height: 150px;
    margin: 50px;
}

span {
    color: white;
    font-size: 50px;
    padding-bottom: 10px;
}

.box {
    width: 100vh;
    height: 20vh;
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    border: 1px solid rgb(202, 200, 200);
    background-color: rgb(202, 200, 200);
    box-shadow: 0 0 15px rgb(202, 200, 200);
}

.boxList {
    width: 80vh;
    height: 10vh;
}

.btn {
    margin: 1px;
}

.Title {
    margin: 10px;
    font-size: 24px;
    margin-top: 50px;
}

ul {
    margin: 20px;
    color: white;
}